{% extends 'layout.html' %}


{% block title %}

    videos page

{% endblock %}


{% block content %}

    

    <div class="grid">

        {% for video in videos %}

            <div class="video-grid">
            
                <a href="{% url 'my_videos:video' slug=video.id %}">

                    <img src="{{video.video_thumbnail.url}}">
                    <h4>{{ video.title|truncatechars:50}}</h4>

                </a>
                
            </div>


        {% endfor %}

    </div>



{% endblock %}